/**
 * Feedback
 */

#filter_comment { width: 420px }

.input-feedback-ip { text-align: center; width: 40px }

.ip-block { float: left; margin: 5px 30px 15px 0 }

.iplist { }
.iplist #ip_black_list li  { background: #aaa }
.iplist #ip_white_list li { background: #eee }
.iplist li { margin-bottom: 1px; padding: 10px 10px; line-height: 12px; color: #777; overflow: hidden; zoom: 1 }
.iplist_ip { font-weight: bold; color: #333 }
.iplist_comment { line-height: 150%; font-size: 10px }
.iplist_actions { float: left; margin: 0 5px 0 0 }

.toolbar .toolbar-feedback { position: fixed; bottom: 5px; right: 5px; z-index: 20 }
.toolbar .toolbar-feedback i { margin-top: 2px }

.slide#modal_feedback .icon-question-sign { position: relative; top: -3px }
.slide#modal_feedback .icon-ok-green { position: relative; top: -1px }

.feedback-copyright { clear: both; text-align: center }
.feedback-copyright span { color: #788087; font-size: 10px; display: inline-block; margin: 4px 15px }

.button-feedback {}

.icon-input-style {
	vertical-align: middle;
	border: 1px solid #adb3b9;
	margin-bottom: 3px
}
.icon-input-style.icon-delete:hover {
	background-position: -330px -82px
}
